h1 {
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    margin: 10px;
    margin-bottom: 0;
}

#firstNumb {
    margin: 10px;
}

#secondNumb {
    margin: 10px;
}

#form {
    margin: 10px;
}

#operators {
    margin-left: 10px;
}

#btn {
    padding: 2px;
    margin: 10px;
}

#result {
    margin: 10px;
}
